@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

html, body {
  background-color: #FFF9E7 !important;
}
